.body {
    margin: 0;
   }
   body {
    height: auto;
      overflow-x: hidden;
 }
 

nav {
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100px;
  line-height: 100px;

  
  margin: 0%;
  
  position: relative;
  
}

.logo {
  position: static;
  height: 100px;
  left: 180px;
  width: 215px;
}

a {
  margin: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  float: right;
  padding: 0px 20px;
}

a:hover {
  color: rgb(231, 49, 210);
  text-decoration: none;
}

.text-box  {
  text-align: center;
  width: 100%;
  color: rgba(29, 5, 77, 0.906);
  font-size:xxx-large;
  text-decoration:  underline;
  font-family:"Times New Roman", Times, serif;
  margin-top: 85px;
  text-decoration-thickness: 5px;
  opacity: 0.4;
  
}
.text-box p{
  text-decoration: none;
  color:rgba(82, 12, 114, 0.774);
  opacity: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -250px;
}
h1{
  text-align: center;
  font-size: xxxx-large;
  text-decoration: dashed;
}


.About-Hot-Beans {
  text-align: center;
  color:rgb(35, 5, 63);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.About-Hot-Beans p{
    color:rgb(84, 9, 107)
}

h2{ 
  color:rgb(84, 9, 107);
  font-size: xx-large;
  margin-left: 3%;
}
h3{
  color:rgb(84, 9, 107);
}

footer{
  position: absolute;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-bottom: 0px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}
.footer-content h3{
  font: size 1.8rem;
  font-weight:400;
  text-transform: capitalize;
  line-height: 3rem;

}
.footer-content p{
  max-width:500px;
  margin: 5px auto;
  line-height: 28px;
  font-size: 14px;
  text-align: left;
}
.Follow-Us{
  list-style-type: style none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:3rem 30 2rem 50;
}


.Follow-Us li{
  margin:  0px;
}
.Follow-Us a{
  text-decoration: none;
  color: #fff;
}
.Follow-Us i{
  font-size: 1.1rem;
  transition: color.4s ease;

}
.Follow-Us a:hover i{
  color:#60137bf6;
}
.footer-bottom{
  background: black;
  width: 100vw;
  padding: 5px 50px;
  text-align: center;

}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalise;
}
.footer-bottom span {
  text-decoration: uppercase;
  opacity: .4;
  font-weight: 200px;
}

.column {
    float: left;
    width: 300px;
    padding: 1px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
  }

  
  .team-img{
    margin-top: -450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .row p{
    text-align: left;
    opacity: 0.5;
    color: rgb(79, 6, 94);
    
  
  }

  
  .column{
    text-align: left;
    text-align-last: auto;
    font-size: 15px;
    color:rgba(93, 33, 116, 0.815)

  }
  .column h1{
    text-align: left;
    font-size: large;
    color: rgba(99, 5, 128, 0.929);
  }